@import "~datatables.net-responsive-bs4/css/responsive.bootstrap4.css";
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before,
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before {
    background-color: transparent;
    top: 8px;
    height: 14px;
    width: 14px;
    color: $orange-200;
    border: 0 none;
    box-shadow: none;
    font-family: 'agroruralicon';
    line-height: 14px;
    content: '\e9f6';
}

table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"].parent>td:first-child:before {
    color: $orange-300;
    content: '\e9e2';
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    @include media-breakpoint-down(sm) {
        justify-content: center;
    }
}