//
// Color system
//
// stylelint-disable
$red: #CC0500;
$orange: #E66807;
$yellow: #F1B604;
$green-dark: #055902;
$green: #36A502;
$green-light: #7eaf27;
$lime: #A2D52D;
$lime-light: #D9FF00;
$teal: #3ACCCC;
$cyan: #17a2b8;
$colors: ();
$colors: map-merge(( "red": $red, "orange": $orange, "yellow": $yellow, "green-dark": $green-dark, "green": $green, "green-light": $green-light, "lime": $lime, "lime-light": $lime-light, "teal": $teal, "cyan": $cyan), $colors);
$primary: $green;
$secondary: $yellow;
$success: $green-light;
$info: $teal;
$warning: $orange;
$danger: $red;
// Links
//
// Style anchor elements.
$link-color: $primary;
$link-decoration: none;
$link-hover-color: lighten($link-color, 5%);
$link-hover-decoration: none;
// Forms
//
// Text Inputs + Textarea
$input-height: 3rem;
$input-background: white;
$input-error-color: $danger;
$input-success-color: $primary;
$input-focus-color: $secondary;
$input-font-size: 1rem;
$input-margin-bottom: 8px;
$input-margin: 0 0 $input-margin-bottom 0;
$input-padding: 0;
$input-transition: all .3s;
$label-font-size: .8rem;
$input-disabled-color: rgba(gray, .42);
$input-disabled-solid-color: gray;
$input-disabled-border: 1px dotted $input-disabled-color;
$input-invalid-border: 1px solid $danger;
// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.