//
// Color system
//
// stylelint-disable
$red: #CC0500;
$orange: #E66807;
$yellow: #F1B604;
$green-dark: #055902;
$green: #36A502;
$green-light: #7eaf27;
$lime: #A2D52D;
$lime-light: #D9FF00;
$teal: #3ACCCC;
$cyan: #17a2b8;
$colors: ();
$colors: map-merge(( "red": $red, "orange": $orange, "yellow": $yellow, "green-dark": $green-dark, "green": $green, "green-light": $green-light, "lime": $lime, "lime-light": $lime-light, "teal": $teal, "cyan": $cyan), $colors);
$primary: $green;
$secondary: #EBEBEB;
$success: $lime;
$info: $teal;
$warning: $orange;
$danger: $red;
// Links
//
// Style anchor elements.
$link-color: $primary;
$link-decoration: none;
$link-hover-color: lighten($link-color, 5%);
$link-hover-decoration: none;
// Forms
//
// 
// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.
$input-btn-padding-y-sm: .5rem;
$input-btn-padding-x-sm: 1.25rem;
$input-btn-padding-y: .75rem;
$input-btn-padding-x: 1.75rem;
$input-btn-padding-y-lg: 1rem;
$input-btn-padding-x-lg: 2.25rem;
// Allows for customizing button radius independently from global border radius
$btn-border-radius: 499rem;
$btn-border-radius-lg: 499rem;
$btn-border-radius-sm: 499rem;
// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-padding-y: .75rem;
$dropdown-item-padding-y: .75rem;
$dropdown-item-padding-x: 1.75rem;